<div class="container">
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h2><%= @topic.title %></h2>
        <p>Oleh <%= @topic.lecture_topic.name %>, di post pada tanggal <%= @topic.created_at.strftime('%d %B %Y') %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <h3>Deskripsi</h3>
      <%= raw @topic.description %>
      <% if @topic.attachments.length > 0 %>
        <h3>Lampiran</h3>
        <% @topic.attachments.each do |n| %>
          <%= link_to File.basename(n.attachment_name.to_s), n.attachment_name_url, :target => "_blank" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="span12">
      <% if can? :tag_topic, Topic %>
        <% if @topic.tag_id != nil %>
          <% if @topic.tag_id == current_user.id %>
            <%= link_to "anda telah mengambil judul ini", "#", :class => "btn btn-info disabled" %>
          <% else %>
            <% if find_no_topic_user %>
              <%= link_to "Anda sudah punya topik TA", "#", :class => "btn btn-info disabled" %>
            <% else %>
              <%= link_to "judul ini telah diambil", "#", :class => "btn btn-info disabled" %>
            <% end %>
          <% end %>
        <% else %>
          <% if find_topic_user %>
            <%= link_to "Anda sudah punya topik TA", "#", :class => "btn btn-info disabled" %>
          <% else %>
            <%= link_to "ambil sebagai judul TA", tag_topic_topic_path(@topic), :class => "btn btn-info" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>