.span7.dashboard-element
  .navbar
    .navbar-inner.custom
      .brand-custom To dos proposal
      %ul.nav.pull-right
        %li
          %a.btn.btn-navbar-custom{:href => "/proposals/new?create=#{current_user.user_type}&proposal=#{user.id}"}
            .icon-pencil
            Create
  .dashboard-inner
    %table.table
      - if user.todo_proposals.length > 0
        - user.todo_proposals.order('created_at DESC').each do |f|
          %tr
            %td{:style => "#{'text-decoration: line-through;' if f.done == true}"}
              = link_to f.title, todo_proposal_path(f)
            %td= f.create_todo_proposal.name
            %td
              %span.label.label-info
                = f.comments.length
                comments
      -else
        %tr
          %td belum ada proposal yang di upload
    