%hr
.dashboard-inner
  %h4 Data Mahasiswa
  %p
    %b Nama
    = f.name
  %p
    %b NIM
    = f.keyid
  %p
    %b Judul :
    = f.student_proposal.topic.title
  %p
    %b Pembimbing proposal I:
    = f.student_proposal.lecture.name
  %p#pembimbing2
    %b Pembimbing proposal II:
    = f.student_proposal.assistant ? "#{f.student_proposal.assistant.name} #{'- menunggu konfirmasi' if f.student_proposal.assistant_confirmation == 0}" : "#{link_to 'tambahkan dosen pembimbing', '#modalAddDosen',:data => {:toggle => 'modal'}}".html_safe
  %p
    %b progress proposal
  .progress.progress-success
    #bar_progress.bar{:style => "width : #{f.student_proposal.progress}%"}
      = "#{f.student_proposal.progress}%"
  %p
    %b update progress
    = simple_form_for f.student_proposal, :method => "get", :remote => true, :url => update_progress_proposal_path(f.id) do |n|
      = n.input :progress
      = n.submit 'update', :class => "btn btn-info"
- if !f.student_proposal.assistant
  #modalAddDosen.modal.hide.fade{:tabindex => "-1", :role => "dialog", "aria-hidden" => "true"}
    .modal-header
      %button.close{"data-dismiss" => "modal", "arial-hidden" => "true"} x
      %h3#myModalLabel tambah dosen pembimbing 2
    .modal-body
    .form_modal
      = simple_form_for f.student_proposal, :url => proposal_update_dosen_path(f.student_proposal), :remote => true do |f|
        = f.input :assistant,:label => false, :placeholder => "ketik nama atau NIP", :input_html => {:data => {:autocomplete_source => dosen_proposal_proposals_path}}
        = f.submit "save", :class => "btn btn-primary"