<div class="container body">
  <div class="row">
    <div class="span3">
    </div>
    <div class="span6 login-box">
    <div class="well">
      <div id="image_logo">
        <%= image_tag "logo_full.png" %>
      </div>
      <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
          <%= f.input :keyid, :required => false, :autofocus => true, :label => "NIM/NIP" %>
          <%= f.input :password, :required => false %>
          <%= f.input :remember_me, :label => false, :inline_label => "remember me", :as => :boolean if devise_mapping.rememberable? %>
          <div class="control-group">
              <div class="controls">
                <%= f.button :submit, "Sign in", :class => "btn btn-info" %>
              </div>
            </div>
      <% end %>
      <%#= render "devise/shared/links" %>
    </div>
    </div>          
  </div><!--/row-->
</div> <!-- /container -->